openai
streamlit
langchain
faiss-cpu
pandas
Pillow
numpy
langchain_community
tiktoken
Pyyaml
fpdf
paddleocr
paddlepaddle -f https://www.paddlepaddle.org.cn/whl/mkl/stable.html
undetected-chromedriver
pyperclip
pyautogui
gspread 
oauth2client
